<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/header :: header}" />
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <div class="signup-container">
        <h2 th:text="${board.boardTitle}">게시글</h2>
        <div>
            <table class="table">ㅓ
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>날짜</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${board.mNo}">회원id</a></td>
                        <td th:href="@{|/board/${board.boardNo}|}" th:text="${board.boardTitle}">제목</a></td>
                        <td th:text="${board.boardContent}">내용</a></td>
                        <td th:text="${board.boardDate}">날짜</td>
                        <td th:text="${board.boardView}">조회수</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}" />
</body>

</html>