<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/header :: header}" />
<head>
    <title>결제정보</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

    <script>
        window.onload = function() {
            const sfValue = getQueryParam('sf');
            if (sfValue) {
                document.querySelector('h1').innerText = sfValue;
            }
        };
        function getQueryParam(param) {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            return urlParams.get(param);
        }

    </script>
<body>
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <h1></h1>
    <td><a th:href="@{menu}"><button type="button" class="btn btn-primary">돌아가기</button></a></td>
</body>
</html>