<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/header :: header}" />
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div> <!-- container-->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <div>
        <a href="/signup">signup</a>
        <a href="/login">login</a>
        <a href="/chat/rooms">chat</a>
        <a href="/order">order</a>
        <a href="/menu">menu</a>
    </div>
<div th:replace="~{fragments/footer :: footer}" />
</div> <!-- container-->
</body>

</html>