<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <body>
<div class="container">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

<form th:action th:object="${memberVo}" method="post">

    <div th:if="${errors?.containsKey('globalError')}">
        <p class="field-error" th:text="${errors['globalError']}">전체 오류 메시지</p>
    </div>

    <div>
        <label for="id">아이디</label>
        <input type="text" id="id" th:field="*{id}" 
        th:class="${errors?.containsKey('id')} ? 'form-control field-error' : 'form-control'"
        class="form-control" placeholder="아이디를 입력하세요">
        <div class="field-error" th:if="${errors?.containsKey('id')}" th:text="${errors['id']}">아이디를 입력해주세요</div>
    
    </div>
    <div>
        <label for="name">이름</label>
        <input type="text" id="name" th:field="*{name}" 
        th:class="${errors?.containsKey('name')} ? 'form-control field-error' : 'form-control'"
        class="form-control" placeholder="이름을 입력하세요">
        <div class="field-error" th:if="${errors?.containsKey('name')}" th:text="${errors['name']}">이름을 입력해주세요</div>
    </div>
    <div>
        <label for="birth">생년월일</label>
        <input type="text" id="birth" th:field="*{birth}"
        th:class="${errors?.containsKey('birth')} ? 'form-control field-error' : 'form-control'"
        class="form-control" placeholder="생년월일을 입력하세요">
        <div class="field-error" th:if="${errors?.containsKey('birth')}" th:text="${errors['birth']}">생년월일을 입력해주세요</div>
    </div>

    <div>
        <label for="num">전화번호</label>
        <input type="text" id="binumrth" th:field="*{num}"
        th:class="${errors?.containsKey('num')} ? 'form-control field-error' : 'form-control'"
        class="form-control" placeholder="전화번호를 입력하세요">
        <div class="field-error" th:if="${errors?.containsKey('num')}" th:text="${errors['num']}">전화번호를 입력해주세요</div>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/}'|"
                    type="button" >취소</button>
        </div>
    </div>

</form>
<br/>
<div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>

</html>