<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.shop.dao.MenuDao">

    <select id="doList" resultType="project.shop.dao.MenuDao">
        SELECT
            MENUNO AS "menuno", MENUNAME AS "menuname", MENUPRICE AS "menuprice", MENUDESC AS "menudesc", MENUALG AS "menualg"
        FROM coffee_menu
    </select>

</mapper>