<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.shop.dao.MenuDao">
    <!--메뉴조회-->
    <select id="doList" resultType="project.shop.vo.MenuVo">
        SELECT * FROM coffee_menu
    </select>

    <!--장바구니입력-->
    <insert id="docartadd" parameterType="project.shop.vo.OrderVo">
        insert into coffeecart(CARTID, CARTMENU, CARTPRICE, CARTQUNT)
        values (#{orderid}, #{ordermenu}, #{orderprice}, #{orderqunt})
    </insert>



    <!--장바구니 조회-->
    <select id="doorderlist" resultType="project.shop.vo.OrderVo">
        SELECT cartid as orderid, cartmenu as ordermenu, cartprice as orderprice, SUM(cartqunt) AS orderqunt
        FROM COFFEECART
        WHERE cartid = #{id}
        GROUP BY cartid, cartmenu, cartprice
    </select>

<!--    결제성공시 장바구니 삭제-->
    <delete id="dodeletecart">
        delete from coffeecart where cartid =#{id}
    </delete>


<!--    장바구니 한줄삭제-->
    <delete id="dodeleteone">
        delete from coffeecart where cartid = #{orderid} and cartmenu = #{ordermenu}
    </delete>
</mapper>